################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eaInstallationInspector61.zip
/bin/Debug/eaInstallationInspector61.exe
/bin/Debug/eaInstallationInspector.xml
/bin/Debug/eaInstallationInspector.pdb
/bin/Debug/eaInstallationInspector.exe.config
/obj/x86/Debug/TempPE
/obj/x86/Debug
