################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/eaInstallationInspector61.zip
/obj
/bin
obj/Debug/eaInstallationInspector.exe
3 Resources/_old/
.vs/eaInstallationInspector/v17/.suo
