################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
obj/Debug/eaInstallationInspector.exe
3 Resources/_old/
.vs/eaInstallationInspector/v17/.suo
*.zip

/V7.004
/V7.005
/_x
/3 Resources/EAII_Working.xlsx
/3 Resources/eaInstallationInspectorInformationV8000.rtf
/3 Resources/eaInstallationInspectorInformationV8000.pdf
